<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MD-Editor</title>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Quill CSS -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- dompurify -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.3/purify.js"></script>
    <!-- to-markdown -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/to-markdown/3.1.0/to-markdown.js"></script>
</head>
<body class="bg-gray-100 p-4">
    <a href="/">
        <h1 class="text-2xl font-bold mb-4">MD-Editor</h1>
    </a>
    <div class="mx-auto flex">
        <!-- 入力欄 -->
        <div class="w-1/2 mr-2 align-top">
            <!-- フォーム -->
            <form method="post" id="convertForm">
                <!-- Quill エディタ -->
                <div id="editor" class="bg-white min-h-fit border rounded-md mb-4"></div>
                <!-- フォーム送信用の非表示テキストエリア -->
                <textarea name="text_input" style="display: none;"></textarea>
            </form>
        </div>

        <!-- 出力欄 -->
        <div class="w-1/2 ml-2 align-top">
            <h2 class="text-xl font-bold mb-4">OUTPUT</h2>
            <div id="markdownOutput" class="bg-white p-4 border rounded-md overflow-auto min-h-fit" style="line-height: 0.8;"></div>
            <!-- コピー ボタン -->
            <button id="copyButton" class="mt-2 bg-blue-500 text-white px-4 py-2 rounded">コピー</button>
        </div>
    </div>

    <!-- Quill JS -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <script>
        // Quill エディタの初期化
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: {
                    // ツールバーのボタン構成
                    container: [
                        [{ 'header': [false, 1, 2, 3, 4, 5, 6] }], // 見出し
                        ['bold', 'italic', 'underline', 'strike'], // テキスト装飾
                        [{'list': 'ordered'}, {'list': 'bullet'}], // 番号付きリスト、箇条書きリスト
                        ['blockquote', 'code', 'code-block'], // 引用、インラインコード、コードブロック
                        ['link', 'image', 'video'], // リンク、画像、動画
                        ['clean'], // フォーマットのクリア
                    ],
                },
            },
        });

        // HTMLをマークダウンに変換して即座に表示
        quill.on('text-change', function() {
            var quillContent = quill.root.innerHTML;

            // <p><br></p> といった空のタグを削除
            if (quillContent.trim() === '<p><br></p>') {
                quillContent = '';
            }

            // dompurifyとto-markdownを使ってHTMLをマークダウンに変換
            var cleanHtml = DOMPurify.sanitize(quillContent);
            var markdownContent = toMarkdown(cleanHtml, {
                converters: [
                    {
                        // 下線と取り消し線のスタイル
                        filter: ['u', 's', 'del'],
                        replacement: function(content, node) {
                            if (node.tagName === 'U') {
                                return '__' + content + '__';
                            } else {
                                return '~~' + content + '~~';
                            }
                        }
                    },
                    {
                        // インラインコードのスタイル
                        filter: 'code',
                        replacement: function(content) {
                            return '`' + content + '`';
                        }
                    },
                    {
                        // コードブロックのスタイル
                        filter: 'pre',
                        replacement: function(content) {
                            return '\n```\n' + content + '\n```\n';
                        }
                    }
                ]
            });
            
            // マークダウンの出力を表示
            document.getElementById('markdownOutput').innerHTML = '<pre>' + markdownContent + '</pre>';
        });

        // オプション: テキスト変更時にフォームを送信する場合
        // quill.on('text-change', function() {
        //     document.getElementById('convertForm').submit();
        // });

        // コピー ボタンのクリックイベント
        document.getElementById('copyButton').addEventListener('click', function() {
            // 出力エリアのテキストを取得
            var markdownOutput = document.getElementById('markdownOutput').innerText;

            // テキストエリアを作成し、取得したテキストをセット
            var textarea = document.createElement('textarea');
            textarea.value = markdownOutput;

            // ボディに追加して選択状態にする
            document.body.appendChild(textarea);
            textarea.select();

            // コピー操作を実行
            document.execCommand('copy');

            // ボディからテキストエリアを削除
            document.body.removeChild(textarea);
        });
    </script>
</body>
</html>
